.navbar {
  position: fixed;     /* Sticks the navbar to the top of the screen */
  top: 0;
  left: 0;
  bottom: 95%;
  width: 100%;
  z-index: 1000;       /* Keeps navbar above all other items */
  background-color: #11111153; 
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.navbar-title a {
  color: #64ffda;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links a {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #64ffda;
}

.navbar-links button {
  margin-left: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-links button:hover {
  color: #64ffda;
}

